@{
    ViewBag.Title = "Welcome to St. Clair County, MI";
}
<!-- Start Key Homepage Messages -->
<section class="s-khms">
    <div class="row">
        <div class="c-khm c-khm-1 col-4">
            <a class="bl bg-img" href="/" data-target=".image-bg">
                <img class="image-bg" src="~/Content/Images/img_khm-1.jpg" width="100%" />
                <h2>About Us</h2>
            </a>
        </div>
        <div class="c-khm c-khm-2 col-4">
            <a class="bl bg-img" href="/" data-target=".image-bg">
                <img class="image-bg" src="~/Content/Images/img_khm-2.jpg" width="100%" />
                <h2>Quick Links</h2>
            </a>
        </div>
        <div class="c-khm c-khm-3 col-4">
            <a class="bl bg-img" href="/" data-target=".image-bg">
                <img class="image-bg" src="~/Content/Images/img_khm-3.jpg" width="100%" />
                <h2>Departments</h2>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="c-khm c-khm-4 col-4">
            <a class="bl bg-img" href="/" data-target=".image-bg">
                <img class="image-bg" src="~/Content/Images/img_khm-4.png" width="100%" />
                <h2>FAQ</h2>
            </a>
        </div>
        <div class="c-khm c-khm-5 col-4">
            <a class="bl bg-img" href="/" data-target=".image-bg">
                <img class="image-bg" src="~/Content/Images/img_khm-5.jpg" width="100%" />
                <h2>Calendar of Events</h2>
            </a>
        </div>
        <div class="c-khm c-khm-6 col-4">
            <a class="bl bg-img" href="/" data-target=".image-bg">
                <img class="image-bg" src="~/Content/Images/img_khm-6.jpg" width="100%" />
                <h2>Newsroom</h2>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="c-khm c-khm-6 col-4">
            <a class="bl bg-img" href="/" data-target=".image-bg">
                <img class="image-bg" src="~/Content/Images/img_khm-7.jpg" width="100%" />
                <h2>Living and Visiting</h2>
            </a>
        </div>
        <div class="c-khm c-khm-7 col-8">
            <a class="bl bl-df bg-img" href="/" data-target=".image-bg">
                <img class="image-bg" src="~/Content/Images/img_khm-8.jpg" width="100%" />
            </a>
        </div>
    </div>
</section>
<!-- End Key Homepage Messages -->
