<!-- Side Navigation -->
<nav class="sidebar">
    <div class="sidebar-header">
        <div class="brand-toggle">
            @Html.ActionLink("Saint Clair County Michigan", "Index", "Home", new { @class = "site-brand" })
            <button type="button" class="sidebar-toggle btn btn-toggle" data-toggle="expanded" data-target=".sidebar">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
        <div class="search-box">
            <form class="form-inline">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
    <div class="sidebar-nav">
        <ul class="nav">
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-1.jpg" width="100%" />
                    </span>
                    <span>Contact Information</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-2.jpg" width="100%" />
                    </span>
                    <span>Latest Flooding Information</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-3.jpg" width="100%" />
                    </span>
                    <span>Propose 2020 General Fund Budget</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-4.jpg" width="100%" />
                    </span>
                    <span>Job Postings at St. Clair County</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-5.jpg" width="100%" />
                    </span>
                    <span>Property Tax and Maps Search</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-6.jpg" width="100%" />
                    </span>
                    <span>Property Records Search</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-7.jpg" width="100%" />
                    </span>
                    <span>Property Split Informational Packet</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-8.jpg" width="100%" />
                    </span>
                    <span>Brownfield Redevelopment</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-9.jpg" width="100%" />
                    </span>
                    <span>County Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-10.jpg" width="100%" />
                    </span>
                    <span>Freedom of Information Act</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-11.jpg" width="100%" />
                    </span>
                    <span>WINS - Warning Information Notification System</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="bg-img ico-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/img_sidenav-11.jpg" width="100%" />
                    </span>
                    <span>Boards & Commissions Application</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="sidebar-overlay"></div>
<!-- End Side Navigation -->
